<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/fileLoad">
    <table width="569" height="183" border="1">
        <tr>
            <td colspan="2" align="center">教师头像上传</td>
        </tr>
        <tr>
            <td width="178" align="center">头像：</td>
            <td width="476"><label for="fileField"></label>
                <input type="file" name="filePhoto" id="fileField"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" name="button" id="button" value="上传">
                <input type="reset" name="button2" id="button2" value="重置"></td>
        </tr>
    </table>


</form>
</body>
</html>